
.button-select-card {
    /* height: 24px; */
    position: relative;
    left: 33%;
    width: 75px;
  }
  
.rectangle-button-card {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 70px;
  }
  
.text-name-select-card {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    left: 29px;
    letter-spacing: 0;
    line-height: 2;
    position: absolute;
    top: 0;
    width: 44px;
  }
  
 .add-ring-card {
    height: 15px !important;
    left: 11px !important;
    position: absolute !important;
    top: 5px !important;
    width: 14px !important;
  }

  @media (max-width: 786px) {
    .button-select-card {
      left: 25%;
    }
  }