/* CSS */
.buttonFps {
  background-color: #16398A;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 13px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonFps:not(:disabled):hover,
.buttonFps:not(:disabled):focus {
  outline: 0;
  background: #16398A;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.buttonFps:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}